.portfolio-section {
    background-color: #FFF6F6; 
    padding: 5em 2em; /* Increased padding */
}

.button-group {
    display: flex;
    justify-content: center; 
}

.category-button {
    flex: 1; 
    margin: 0 1em; 
    font-size: 1.5em; 
    padding: 1em; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
}

.category-button.primary {
    background-color: #FF6F61; 
    color: #ffffff; 
}

.category-button.secondary {
    background-color: #FFB3BA; 
    color: #333333; 
}

.category-button:hover {
    transform: scale(1.05); 
}

.project-card {
    transition: transform 0.2s, box-shadow 0.3s; 
    border: 1px solid #FFB3BA; 
    border-radius: 10px; 
    background-color: #FFFFFF; 
    flex: 1; /* Allow equal growth */
    margin: 0 1em; /* Space between cards */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    height: 100%; 
    margin-bottom: 2em; /* Increase space between cards */
}

.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.project-title {
    color: #333333; 
    font-weight: bold; 
    text-align: center; /* Center title */
    margin-top: 0.5em; /* Space above title */
}

.project-video {
    max-width: 100%; /* Ensure video fits within card */
    border-radius: 10px; /* Match card's border radius */
}

.accordion-body {
    display: flex; /* Flex layout for body */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    justify-content: center; /* Space out content */
    padding: 1em; /* Padding for better spacing */
}

.view-project-button {
    margin-top: 1em; /* Space above the button */
    width: 100%; /* Make button full width */
    text-align: center; /* Center text */
    padding: 0.5em; /* Add padding for better click area */
    font-weight: bold; /* Make button text bold */
}